<% @authors.each do |author| %>
    <div class="col l3 s12 m6">
      <div class="card teal darken-1" style="overflow-y:scroll; height: 300px">
        <div class="card-content white-text">
          <span class="card-title center">Author</span>
          <h5><%= author.name %></h5>
        </div>
        <div class="card-action">
          <% author.articles.each do |art| %>
            <p class="white-text">I wrote: <span style="text-decoration: underline"><%= link_to truncate(art.name, length: 16), articles_show_path(art), class: "white-text" %> </span></p>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
