<!-- <label> This used to be a very terrible authors index page. One of the worst ever. </label> -->

<div class="row">
  <% cache(cache_key_for_authors) do%>
    <div id="author" >
      <%= render partial: "authors" %>
    </div>
  <% end %>
</div>
<%= will_paginate @authors %>
